[package]
name = "dprint-plugin-exec"
version = "0.1.0"
authors = ["Alex Zherebtsov <zherebtsovalex@gmail.com>", "David Sherret <dsherret@gmail.com>"]
edition = "2021"
homepage = "https://github.com/dprint/dprint-plugin-exec"
keywords = ["formatting", "formatter", "exec"]
license = "MIT"
repository = "https://github.com/dprint/dprint-plugin-exec"
description = "Code formatter based on external tool execution."

[profile.release]
opt-level = 3
debug = false
lto = true
debug-assertions = false
overflow-checks = false
panic = "abort"

[dependencies]
anyhow = "1.0.51"
dprint-core = { version = "0.50.1", features = ["process"] }

handlebars = "4.1.6"
serde = { version = "1.0.118", features = ["derive"] }
splitty = "0.1.0"
tokio = { version = "1.15.0", features = ["full", "time"] }

[dev-dependencies]
dprint-development = "0.4.1"
