name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    tags:
    - '*'

jobs:
  build:
    name: ${{ matrix.config.kind }} ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - os: macOS-latest
            kind: test_release
          - os: windows-2019
            kind: test_release
          - os: ubuntu-latest
            kind: test_release
          - os: ubuntu-latest
            kind: test_debug

    outputs:
      LINUX_X86_64_ZIP_CHECKSUM: ${{steps.linux_x86_64_pre_release.outputs.ZIP_CHECKSUM}}
      MAC_X86_64_ZIP_CHECKSUM: ${{steps.mac_x86_64_pre_release.outputs.ZIP_CHECKSUM}}
      MAC_AARCH64_ZIP_CHECKSUM: ${{steps.mac_aarch64_pre_release.outputs.ZIP_CHECKSUM}}
      WINDOWS_X86_64_ZIP_CHECKSUM: ${{steps.windows_x86_64_pre_release.outputs.ZIP_CHECKSUM}}

    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: full

    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      # CACHE SETUP
      - name: Cache cargo
        if: startsWith(github.ref, 'refs/tags/') != true
        uses: Swatinem/rust-cache@v1

      # BUILD
      - name: Build debug
        if: matrix.config.kind == 'test_debug'
        run: cargo build
      - name: Build release
        if: matrix.config.kind == 'test_release'
        run: cargo build --release --all-targets --locked --verbose
      - name: Build release (Mac aarch64)
        if: startsWith(matrix.config.os, 'macOS') && matrix.config.kind == 'test_release'
        run: |
          rustup target add aarch64-apple-darwin
          cargo build --locked --all-features --release --target aarch64-apple-darwin

      # TEST
      - name: Test
        run: cargo test

      # Release
      - name: Pre-release (Linux)
        id: linux_x86_64_pre_release
        if: startsWith(matrix.config.os, 'ubuntu') && matrix.config.kind == 'test_release' && startsWith(github.ref, 'refs/tags/')
        run: |
          cd target/release
          zip -r dprint-plugin-exec-x86_64-unknown-linux-gnu.zip dprint-plugin-exec
          echo "::set-output name=ZIP_CHECKSUM::$(shasum -a 256 dprint-plugin-exec-x86_64-unknown-linux-gnu.zip | awk '{print $1}')"
      - name: Pre-release (Mac)
        id: mac_x86_64_pre_release
        if: startsWith(matrix.config.os, 'macOS') && matrix.config.kind == 'test_release'
        run: |
          cd target/release
          zip -r dprint-plugin-exec-x86_64-apple-darwin.zip dprint-plugin-exec
          echo "::set-output name=ZIP_CHECKSUM::$(shasum -a 256 dprint-plugin-exec-x86_64-apple-darwin.zip | awk '{print $1}')"
      - name: Pre-release (Mac aarch64)
        id: mac_aarch64_pre_release
        if: startsWith(matrix.config.os, 'macOS') && matrix.config.kind == 'test_release'
        run: |
          cd target/aarch64-apple-darwin/release
          zip -r dprint-plugin-exec-aarch64-apple-darwin.zip dprint-plugin-exec
          echo "::set-output name=ZIP_CHECKSUM::$(shasum -a 256 dprint-plugin-exec-aarch64-apple-darwin.zip | awk '{print $1}')"
          mv dprint-plugin-exec-aarch64-apple-darwin.zip ../../release
      - name: Pre-release (Windows)
        id: windows_x86_64_pre_release
        if: startsWith(matrix.config.os, 'windows') && matrix.config.kind == 'test_release' && startsWith(github.ref, 'refs/tags/')
        run: |
          cd target/release
          Compress-Archive -CompressionLevel Optimal -Force -Path dprint-plugin-exec.exe -DestinationPath dprint-plugin-exec-x86_64-pc-windows-msvc.zip
          echo "::set-output name=ZIP_CHECKSUM::$(shasum -a 256 dprint-plugin-exec-x86_64-pc-windows-msvc.zip | awk '{print $1}')"

      # UPLOAD ARTIFACTS
      - name: Upload Artifacts (Linux)
        uses: actions/upload-artifact@v2
        if: startsWith(matrix.config.os, 'ubuntu') && matrix.config.kind == 'test_release' && startsWith(github.ref, 'refs/tags/')
        with:
          name: linux-artifacts
          path: target/release/dprint-plugin-exec-x86_64-unknown-linux-gnu.zip
      - name: Upload Artifacts (Mac)
        uses: actions/upload-artifact@v2
        if: startsWith(matrix.config.os, 'macOS') && matrix.config.kind == 'test_release'
        with:
          name: mac-artifacts
          path: |
            target/release/dprint-plugin-exec-x86_64-apple-darwin.zip
            target/release/dprint-plugin-exec-aarch64-apple-darwin.zip
      - name: Upload Artifacts (Windows)
        uses: actions/upload-artifact@v2
        if: startsWith(matrix.config.os, 'windows') && matrix.config.kind == 'test_release' && startsWith(github.ref, 'refs/tags/')
        with:
          name: windows-artifacts
          path: target/release/dprint-plugin-exec-x86_64-pc-windows-msvc.zip


  draft_release:
    name: draft_release
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v2

      - name: Move downloaded artifacts
        run: |
          mv linux-artifacts/dprint-plugin-exec-x86_64-unknown-linux-gnu.zip .
          mv mac-artifacts/dprint-plugin-exec-x86_64-apple-darwin.zip .
          mv mac-artifacts/dprint-plugin-exec-aarch64-apple-darwin.zip .
          mv windows-artifacts/dprint-plugin-exec-x86_64-pc-windows-msvc.zip .

      - name: Output checksums
        run: |
          echo "Linux x86_64 zip: ${{needs.build.outputs.LINUX_X86_64_ZIP_CHECKSUM}}"
          echo "Mac x86_64 zip: ${{needs.build.outputs.MAC_X86_64_ZIP_CHECKSUM}}"
          echo "Mac aarch64 zip: ${{needs.build.outputs.MAC_AARCH64_ZIP_CHECKSUM}}"
          echo "Windows x86_64 zip: ${{needs.build.outputs.WINDOWS_X86_64_ZIP_CHECKSUM}}"

      - name: Create plugin file
        run: deno run --allow-read=. --allow-write=. scripts/createPluginFile.ts

      - name: Get tag version
        id: get_tag_version
        run: echo ::set-output name=TAG_VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Get plugin file checksum
        id: get_plugin_file_checksum
        run: echo "::set-output name=CHECKSUM::$(shasum -a 256 exec.exe-plugin | awk '{print $1}')"

      - name: Update Config Schema Version
        # update config schema to have version
        run: sed -i 's/exec\/0.0.0/exec\/${{ steps.get_tag_version.outputs.TAG_VERSION }}/' deployment/schema.json

      - name: Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            dprint-plugin-exec-x86_64-apple-darwin.zip
            dprint-plugin-exec-aarch64-apple-darwin.zip
            dprint-plugin-exec-x86_64-unknown-linux-gnu.zip
            dprint-plugin-exec-x86_64-pc-windows-msvc.zip
            exec.exe-plugin
            deployment/schema.json
          body: |
            ## Install

            Dependencies:

            1. Install python and ensure it's on the path.
            2. Install dprint's CLI >= 0.19.1

            In dprint configuration file:

            1. Specify the plugin url and checksum in the `"plugins"` array:

               ```jsonc
               {
                 // etc...
                 "plugins": [
                   "https://plugins.dprint.dev/exec-${{ steps.get_tag_version.outputs.TAG_VERSION }}.exe-plugin@${{ steps.get_plugin_file_checksum.outputs.CHECKSUM }}"
                 ]
               }
               ```
            2. Ensure the file extension is matched in an `"includes"` pattern.
            3. Add an `"exec"` configuration property.

               ```jsonc
               {
                 // ...etc...
                 "exec": {
                   "associations": [
                       "**/*.java"
                   ],
                   "java": "java -jar formatter.jar {{file_path}}",
                   "rustfmt": "rustfmt",
                   "rustfmt.associations": "**/*.rs",
                   "timeout": 10,
                 },
               }
               ```
          draft: false
